body{
    height: 100vh;
}
.jumbotron{
    background-color: cornflowerblue;
    color: white;
    margin-top: 50px;
}

.card-supermercado{
    flex: 1 300px;
    padding:0px 0px 0px 0px;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: #5896FC;
    margin-bottom: 0%;
}

.btn-visitar{
    width: 100%;
}
a{
    color: white;
}
.footer-addres-icon{
    padding-right: 10px;
}
.btn-icon-visitar{
    padding-right: 10px;
}
.breadcrumb-item-index{
    color: blue !important;
}
.card-tiendas{
    width: 18rem;
}
.card-header-tiendas{
    background-color: black;
    color: white;
}